.input_component {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin-top:10px;
    border-radius: 10px;
}

.input_component > input {
    /* border: none; */
    border-style: solid;
    border-radius: 10px;
    border-color: #d9dbda;
    width: 100%;
    padding: 10px;
    outline-width: 0;
    font-size: 30px;
    background-color: transparent;
}

input[type="text"]::placeholder { 
    text-align: right;
    color : #000;
}